#div_texto{
    margin-top: 380px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-family: 'Roboto', serif;
}

#table_artigo{
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

#titulo_artigo{
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
    
    
}

#autor_artigo{
    font-size: 22px;
    text-align: justify;
    padding-bottom: 25px;
}

#data_artigo, #id_artigo{
    font-size: 22px;
    width: 120px;
    padding-left: 40px;
    padding-bottom: 25px;
}

#tags_artigo{
    font-size: 20px;
}

#corpo_artigo{
    padding-top: 50px;
    font-size: 26px;
    text-align: justify;
}

#caixa_cinza{
    /*background-color: rgba(233, 230, 230, 0.767);*/
    background-color: rgb(238, 238, 238);
    padding: 50px;
}

#edit_artigo{
    background-color: rgb(153, 153, 153);
    margin-top: 5px;
    color: white;
    padding: 6px;
    border: 1px solid black;
    cursor: pointer;
    float: right;
}

#edit_artigo:hover{
    background-color: rgb(175, 175, 175);
}

#edit_artigo img{
    width: 30px;
    height: 30px;
}

#favorito{
    background-color: rgb(153, 153, 153);
    margin-top: 5px;
    color: white;
    padding: 0;
    border: 1px solid black;
    cursor: pointer;
    float: right;
    width: 44px;
    height: 44px;
}

#favorito img{
    width: 20px;
    height: 20px;
}
    