body{
    margin:0;
    padding:0;
    background-image: url("../Imagens/bg.png");
    background-size: 250px;
    height: 1500px;
}

#img_topo{
    position: fixed;
    z-index: 998;
    background-image: url(" ../Imagens/girasol.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    background-position:top;
    border:none;
    height:330px;    
    box-shadow: 0 1px 12px rgb(0, 0, 0);
    
    text-align: center;
    vertical-align: middle;
    line-height: 400px;

    transition: 0.3s;
}

#texto_img{
    font-size: 90px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    transition: 0.3s;
    opacity: 0;
   

    animation:second ease 1s ;
    animation-fill-mode: forwards;
    animation-delay:2s;

}


@keyframes second{
    from {opacity :0;}
    to {opacity :1;}
}



/* ========================== barra cinza do topo da página, com o logo, pesquisa, botões ================================*/

#barra{
    height: 70px;
    background-color: #1d1e22;
    box-shadow: 0 1px 15px rgb(0, 0, 0);
    position: fixed;
    z-index: 999;
}

#barra table tr td{
    text-align: right;
    width: 500px;
}

#barra table tr td button{
 
    background-color: #1d1e22;
    
    text-align: middle;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  #d4d4dc;

    border-radius: 5px;
    border: solid;
    border-color: #1d1e22;
    border-width: thin;
    
    padding-top: 5px;
    padding-bottom: 5px;
}

#barra table tr td button:hover{
    cursor: pointer;
    background-color: #28292e;
    border-color: #393f4d;
}

#titulo{
    color: white;
    font-family: fantasy;
    font-size: 35px;
    text-align: left;
    width: 600px;
    border-radius: 20px;
    padding: 16px;
    padding-top: 8px;
    padding-left: 100px;
   
}
  
#pesquisa{
    border-radius: 3px;
    border: none;

    height:35px;
    width: 300px;
    padding: 5px;
    padding-top:8px;
    padding-bottom:8px;
    margin:12px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #1d1e22;
    background-color: #d4d4dc;
    
    
}

#account_img{
    height: 30px;
    padding-left: 10px;
}

#right_side{
    padding-left: 15px;
    padding-right: 100px;
}

#user{ 
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  #d4d4dc;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #d4d4dc;
    background-color: #1d1e22;
    padding: 12px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dropdown-content a:hover {background-color: #28292e;}

.dropdown:hover .dropdown-content {display: block;}



