#div_texto{
    margin-top: 380px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


#titulo_texto{
    font-family: 'Roboto', serif;
    font-size: 45px;
    font-weight: bolder;
    text-align: left;
    text-align: justify;
   
}

.texto{
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Roboto', serif;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 5px black;
    stroke: black;      
}


#content{
    align-items: center;
}

.caixa_texto{
    background-color:rgba(0, 0, 0, 0.24);
    padding: 20px;
    backdrop-filter: blur(2px);
}

#video_1{
    padding-top: 40px;
   padding-left:100px;
}

#Video_center{
    text-align: center;
}

#titulo_center{
    text-align: center;
     font-size: 60px;
     color: black;

}



@keyframes first{
    from {opacity :1;}
    to {opacity :0;}
}

@keyframes second{
    from {opacity :0;}
    to {opacity :1;}
}