#titulo_texto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: left;
    text-align: justify;
   
}

#div_texto{
    position: absolute;
    top: 155%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
}

#texto{
    
    padding-left: 100px;
    text-align: justify;
    text-justify: inter-word;
    font-family: Arial, sans-serif;
    font-size: 23px;
    color: white;
    text-shadow: 0 0 5px black;
    stroke: black;
}


#video_1{
    padding-top: 40px;
   padding-left:100px;
}

#Video_center{
    text-align: center;
}

#titulo_center{
    text-align: center;
     font-size: 60px;
     color: black;

}



@keyframes first{
    from {opacity :1;}
    to {opacity :0;}
}

@keyframes second{
    from {opacity :0;}
    to {opacity :1;}
}