#div_texto{
    margin-top: 380px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.container {
    width: 1200px;
    height: 160px;
    margin: auto;
    margin-bottom: 2500px;
  }
  
  .form {
    width: 1250px;
    height: 300px;
    margin: auto;
    margin-bottom: 2500px;
    background: #2626299c;
    position: relative;
  }
  
  .box1 {
    width: 500px;
    height: 100px;
    background: #6b35b3;
    padding: 20px;
    border: 10px double black;
    margin: 10px;
    float: left;
    position: absolute;
    box-shadow: -10px -10px 0px black;
    text-decoration: none;
  }
  
  .box2 {
    width: 500px;
    height: 100px;
    background: #6b35b3;
    padding: 20px;
    border: 10px double #000000;
    margin: 10px;
    float: right;
    box-shadow: -10px -10px 0px black;
    text-decoration: none;
  }
  
  .box1:hover {
    width: 505px;
    height: 105px;
  }
  
  .box2:hover {
    width: 510px;
    height: 110px;
  }
  
  p {
    font-size: 36px;
    text-align: center;
    color: white;
  }
  
  .Titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: white;
  }
  
  .caixa-Titulo {
    background: rgba(34, 34, 34, 0.9);
    padding: 0.5px;
    margin-bottom: 20px;
  }
  
  .texto_label {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  .center-caixa {
    float: left;
    width: 1250px;
    height: 200px;
    margin-top: 40px;
    margin-left: 40px;
  }
  
  .input {
    width: 600px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 36px;
  }
  
  .Enviar {
    width: 200px;
    height: 50px;
    background: #202020;
    color: white;
    border: 2px solid #ffffff;
  }
  
  .Enviar:hover {
    box-shadow: 4px -4px 6px black;
    width: 210px;
    height: 60px;
  }
  