#div_texto{
    margin-top: 380px;
}

#Caixa_Artigo{
    height: 300px;
    width: 1200px;
    margin-left: auto; 
    margin-right: auto; 
    padding: 15px;
    margin-bottom: 50px;
    background-color:rgb(60, 60, 61);
    border-style: none;
}

#preview_artigo{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}


#preview_artigo tr td{
    padding-top: 20px;
    padding-left: 20px;
    color: lightgray;
}

#img_artigo{
    background: url("../imagens/3.png") no-repeat center;
    background-size: cover;
    width: 30%;
}
#titulo_artigo{
    font-size: 35px;
}
#des_artigo{
    width: 90%;
    font-size: 22px;
    vertical-align: top;
    height: 70%;
    
}

#seta{
    width: 25px;
    height: 45px;
}

.button_preview{
    background: transparent;
    border: none;
    height: 100%;
    width: 100%;
}

.button_preview:hover{
    cursor: pointer;
    background-color: rgb(79, 79, 80);
}

.button_preview:focus{
    outline:0;
}

#autores_artigo{
    font-size: 26px;
    padding-bottom: 20px;
}

#tags_artigo{
    font-size:20px;
}