#div_texto{
    margin-top: 380px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

#table_sobre{
    border-spacing: 40px;
}

#titulo_sobre{
    font-size: 70px;
    font-weight: bold;
}


.caixa_texto{
    background-color:rgba(0, 0, 0, 0.199);
    padding: 20px;
    backdrop-filter: blur(3px);
}



.line{
    border-spacing: 30px;
}

.line_title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;

}

.line_text{
    text-align: center;
    font-size: 35px;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
    stroke: black;
 
}

#fim{
    padding-top: 40px;
    text-align: center;
    font-size: 40px;
    
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0 0 5px black;
    stroke: black;
}